/*
   My custom CSS style for Texinfo documents
   Public domain 2016 sirgazil. All rights waived.
*/



/* NATIVE ELEMENTS */
a:link,
a:visited {
    color: #1E90FF;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

abbr,
acronym {
    cursor: help;
}

blockquote {
    color: #555753;
    font-style: oblique;
    margin: 30px 0px;
    padding-left: 3em;
}

body {
    background-color: white;
    box-shadow: 0 0 2px gray;
    box-sizing: border-box;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    margin: 50px auto;
    max-width: 960px;
    padding: 50px;
}

code,
samp,
tt,
var {
    color: purple;
    font-size: 0.8em;
}

div.example,
div.lisp {
    margin: 0px;
}

dl {
    margin: 3em 0em;
}

dl dl {
    margin: 0em;
}

dt {
    background-color: #F5F5F5;
    padding: 0.5em;
}

h1,
h2,
h2.contents-heading,
h3,
h4 {
    padding: 20px 0px 0px 0px;
    font-weight: normal;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2.2em;
    font-weight: bold;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

hr {
    background-color: silver;
    border-style: none;
    height: 1px;
    margin: 0px;
}

html {
    background-color: #F5F5F5;
}

img {
    max-width: 100%;
}

li {
    padding: 5px;
}

pre.display,
pre.example,
pre.format,
pre.lisp,
pre.verbatim{
    overflow: auto;
}

pre.example,
pre.lisp,
pre.verbatim {
    background-color: #2D3743;
    border-color: #000;
    border-style: solid;
    border-width: thin;
    color: #E1E1E1;
    font-size: smaller;
    padding: 1em;
}

table {
    border-collapse: collapse;
    margin: 40px 0px;
    width: 100%;
}

table.index-cp *,
table.index-fn *,
table.index-ky *,
table.index-pg *,
table.index-tp *,
table.index-vr * {
    background-color: inherit;
    border-style: none;
}

td,
th {
    border-color: silver;
    border-style: solid;
    border-width: thin;
    padding: 10px;
    text-align: center;
}

table.index-cp td,
table.index-fn td,
table.index-ky td,
table.index-pg td,
table.index-tp td,
table.index-vr td {
    text-align: left;
}

th {
    background-color: #F5F5F5;
}
/* END NATIVE ELEMENTS */



/* CLASSES */
.contents {
    margin-bottom: 4em;
}

.float {
    margin: 3em 0em;
}

.float-caption {
    font-size: smaller;
    text-align: center;
}

.float > img {
    display: block;
    margin: auto;
}

.footnote {
    font-size: smaller;
    margin: 5em 0em;
}

.footnote h3 {
    display: inline;
    font-size: small;
}

.header {
    background-color: #F2F2F2;
    font-size: small;
    padding: 0.2em 1em;
}

.key {
    color: purple;
    font-size: 0.8em;
}

.menu * {
    border-style: none;
}

.menu td {
    padding: 0.5em 0em;
}

.menu td:last-child {
    width: 60%;
}

.menu th {
    background-color: inherit;
}
/* END CLASSES */

/* Modifications for ox-html */
.org-src-container {
    font-size: smaller;
}
body {
    color: #5f5f5f;
}
.org-avy-background {
    /* avy-background-face */
    color: #666666;
}
.org-avy-goto-char-timer {
    /* avy-goto-char-timer-face */
    background-color: #d7ff5f;
}
.org-avy-lead {
    /* avy-lead-face */
    color: #626262;
    background-color: #87ffff;
}
.org-avy-lead-face-0 {
    /* avy-lead-face-0 */
    color: #626262;
    background-color: #e6a8df;
}
.org-avy-lead-face-1 {
    /* avy-lead-face-1 */
    color: #626262;
    background-color: #dadada;
}
.org-avy-lead-face-2 {
    /* avy-lead-face-2 */
    color: #626262;
    background-color: #a1db00;
}
.org-bold {
    /* bold */
    font-weight: bold;
}
.org-bold-italic {
    /* bold-italic */
    font-weight: bold;
    font-style: italic;
}
.org-border {
}
.org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    font-weight: bold;
}
.org-builtin {
    /* font-lock-builtin-face */
    color: #b218b2;
}
.org-button {
    /* button */
    color: #5fafd7;
    text-decoration: underline;
}
.org-calendar-month-header {
    /* calendar-month-header */
    color: #ef2929;
}
.org-calendar-today {
    /* calendar-today */
    text-decoration: underline;
}
.org-calendar-weekday-header {
    /* calendar-weekday-header */
    color: #1f5bff;
}
.org-calendar-weekend-header {
    /* calendar-weekend-header */
    color: #b2b2b2;
    font-style: italic;
}
.org-change-log-acknowledgment {
    /* change-log-acknowledgment */
    color: #b2b2b2;
    font-style: italic;
}
.org-change-log-conditionals {
    /* change-log-conditionals */
    color: #ff8700;
}
.org-change-log-date {
    /* change-log-date */
    color: #ff1f8b;
}
.org-change-log-email {
    /* change-log-email */
    color: #ff8700;
}
.org-change-log-file {
    /* change-log-file */
    color: #ef2929;
}
.org-change-log-function {
    /* change-log-function */
    color: #ff8700;
}
.org-change-log-list {
    /* change-log-list */
    color: #00af00;
}
.org-change-log-name {
    /* change-log-name */
    color: #1f5bff;
}
.org-comint-highlight-input {
    /* comint-highlight-input */
    font-weight: bold;
}
.org-comint-highlight-prompt {
    /* comint-highlight-prompt */
    color: #767676;
    background-color: #ffff87;
    font-weight: bold;
}
.org-comment {
    /* font-lock-comment-face */
    color: #b2b2b2;
    font-style: italic;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #b2b2b2;
    font-style: italic;
}
.org-company-echo {
    /* company-echo */
    color: #5f5f5f;
}
.org-company-echo-common {
    /* company-echo-common */
    color: #cc0000;
    background-color: #ffd5e5;
}
.org-company-preview {
    /* company-preview */
    color: #ff4ea3;
    background-color: #5f5f5f;
}
.org-company-preview-common {
    /* company-preview-common */
    color: #ff4ea3;
    background-color: #5f5f5f;
}
.org-company-preview-search {
    /* company-preview-search */
    color: #ff4ea3;
    background-color: #626262;
    font-weight: bold;
}
.org-company-scrollbar-bg {
    /* company-scrollbar-bg */
    background-color: #5f5f5f;
}
.org-company-scrollbar-fg {
    /* company-scrollbar-fg */
    background-color: #9e9e9e;
}
.org-company-template-field {
    /* company-template-field */
    color: #626262;
    background-color: #ffffaf;
}
.org-company-tooltip {
    /* company-tooltip */
    color: #5fafd7;
    background-color: #3a3a3a;
}
.org-company-tooltip-annotation {
    /* company-tooltip-annotation */
    color: #ef2929;
    background-color: #626262;
}
.org-company-tooltip-annotation-selection {
    /* company-tooltip-annotation-selection */
    color: #ef2929;
    background-color: #626262;
}
.org-company-tooltip-common {
    /* company-tooltip-common */
    color: #5fafd7;
    background-color: #5f5f5f;
}
.org-company-tooltip-common-selection {
    /* company-tooltip-common-selection */
    color: #afd7ff;
    background-color: #767676;
    font-weight: bold;
}
.org-company-tooltip-mouse {
    /* company-tooltip-mouse */
    color: #5f5f5f;
    background-color: #d7ff5f;
}
.org-company-tooltip-search {
    /* company-tooltip-search */
    background-color: #d7ff5f;
}
.org-company-tooltip-search-selection {
    /* company-tooltip-search-selection */
    background-color: #d7ff5f;
}
.org-company-tooltip-selection {
    /* company-tooltip-selection */
    color: #afd7ff;
    background-color: #626262;
}
.org-compilation-column-number {
    /* compilation-column-number */
    color: #00af00;
}
.org-compilation-error {
    /* compilation-error */
    color: #a40000;
    background-color: #ffd5e5;
    font-weight: bold;
}
.org-compilation-info {
    /* compilation-info */
    color: #ff8700;
    background-color: #eeeeee;
}
.org-compilation-line-number {
    /* compilation-line-number */
    color: #1f5bff;
}
.org-compilation-mode-line-exit {
    /* compilation-mode-line-exit */
    color: #008700;
    background-color: #d7ff5f;
    font-weight: bold;
}
.org-compilation-mode-line-fail {
    /* compilation-mode-line-fail */
    color: #a40000;
    background-color: #ffafaf;
    font-weight: bold;
}
.org-compilation-mode-line-run {
    /* compilation-mode-line-run */
    color: #d75f00;
    background-color: #ffd787;
    font-weight: bold;
}
.org-compilation-warning {
    /* compilation-warning */
    color: #ff5d17;
}
.org-completions-annotations {
    /* completions-annotations */
    color: #00af00;
}
.org-completions-common-part {
    /* completions-common-part */
    color: #c6c6c6;
}
.org-completions-first-difference {
    /* completions-first-difference */
    color: #ff8700;
    font-weight: bold;
}
.org-constant {
    /* font-lock-constant-face */
    color: #1f5bff;
}
.org-cursor {
    /* cursor */
    background-color: #5f5f5f;
}
.org-diary {
    /* diary */
    color: #ff0000;
}
.org-diff-added {
    /* diff-added */
    color: #008700;
    background-color: #d7ff87;
    font-weight: bold;
}
.org-diff-changed {
    /* diff-changed */
    color: #875f00;
    background-color: #ffffaf;
    font-weight: bold;
}
.org-diff-context {
    /* diff-context */
    color: #b2b2b2;
}
.org-diff-file-header {
    /* diff-file-header */
    color: #005f87;
    background-color: #afd7ff;
    font-weight: bold;
    text-decoration: underline;
}
.org-diff-function {
    /* diff-function */
    color: #8a8a8a;
    background-color: #dadada;
}
.org-diff-header {
    /* diff-header */
    color: #005f87;
    background-color: #afd7ff;
}
.org-diff-hunk-header {
    /* diff-hunk-header */
    color: #005f87;
    background-color: #d7d7ff;
    text-decoration: overline;
}
.org-diff-index {
    /* diff-index */
    color: #626262;
    background-color: #c6c6c6;
    font-weight: bold;
}
.org-diff-indicator-added {
    /* diff-indicator-added */
    color: #ffffff;
    background-color: #00af00;
    font-weight: bold;
}
.org-diff-indicator-changed {
    /* diff-indicator-changed */
    color: #ffffff;
    background-color: #c4a000;
    font-weight: bold;
}
.org-diff-indicator-removed {
    /* diff-indicator-removed */
    color: #ffffff;
    background-color: #a40000;
    font-weight: bold;
}
.org-diff-nonexistent {
    /* diff-nonexistent */
    color: #ffffff;
    background-color: #a40000;
    font-weight: bold;
}
.org-diff-refine-added {
    /* diff-refine-added */
    color: #ffffff;
    background-color: #00af00;
    font-weight: bold;
}
.org-diff-refine-changed {
    /* diff-refine-changed */
    background-color: #ffff55;
}
.org-diff-refine-removed {
    /* diff-refine-removed */
    color: #ffffff;
    background-color: #a40000;
    font-weight: bold;
}
.org-diff-removed {
    /* diff-removed */
    color: #a40000;
    background-color: #ffafaf;
    font-weight: bold;
}
.org-dired-directory {
    /* dired-directory */
    color: #5fafd7;
    font-weight: bold;
}
.org-dired-flagged {
    /* dired-flagged */
    color: #ef2929;
}
.org-dired-header {
    /* dired-header */
    color: #5f5f5f;
    background-color: #d7ff00;
    font-weight: bold;
}
.org-dired-ignored {
    /* dired-ignored */
    color: #b2b2b2;
}
.org-dired-mark {
    /* dired-mark */
    color: #afff00;
}
.org-dired-marked {
    /* dired-marked */
    color: #a1db00;
}
.org-dired-perm-write {
    /* dired-perm-write */
    color: #cc0000;
    font-weight: bold;
}
.org-dired-symlink {
    /* dired-symlink */
    color: #ff4ea3;
}
.org-dired-warning {
    /* dired-warning */
    color: #ffffff;
    background-color: #ef2929;
    font-weight: bold;
}
.org-doc {
    /* font-lock-doc-face */
    color: #cc0000;
}
.org-eldoc-highlight-function-argument {
    /* eldoc-highlight-function-argument */
    color: #00af00;
    background-color: #d7ff87;
    font-weight: bold;
    text-decoration: underline;
}
.org-epa-field-body {
    /* epa-field-body */
    font-style: italic;
}
.org-epa-field-name {
    /* epa-field-name */
    font-weight: bold;
}
.org-epa-mark {
    /* epa-mark */
    color: #ff0000;
    font-weight: bold;
}
.org-epa-string {
    /* epa-string */
    color: #00008b;
}
.org-epa-validity-disabled {
    /* epa-validity-disabled */
    font-style: italic;
}
.org-epa-validity-high {
    /* epa-validity-high */
    font-weight: bold;
}
.org-epa-validity-low {
    /* epa-validity-low */
    font-style: italic;
}
.org-epa-validity-medium {
    /* epa-validity-medium */
    font-style: italic;
}
.org-error {
    /* error */
    color: #ff4b4b;
}
.org-escape-glyph {
    /* escape-glyph */
    color: #c4a000;
}
.org-file-name-shadow {
    /* file-name-shadow */
    color: #7f7f7f;
}
.org-fixed-pitch {
}
.org-fixed-pitch-serif {
}
.org-fringe {
    /* fringe */
    color: #9e9e9e;
    background-color: #d7d7af;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #ef2929;
}
.org-geiser-font-lock-autodoc-current-arg {
    /* geiser-font-lock-autodoc-current-arg */
    color: #a0522d;
}
.org-geiser-font-lock-autodoc-identifier {
    /* geiser-font-lock-autodoc-identifier */
    color: #0000ff;
}
.org-geiser-font-lock-doc-button {
    /* geiser-font-lock-doc-button */
    color: #5fafd7;
    text-decoration: underline;
}
.org-geiser-font-lock-doc-link {
    /* geiser-font-lock-doc-link */
    color: #3a5fcd;
    text-decoration: underline;
}
.org-geiser-font-lock-doc-title {
    /* geiser-font-lock-doc-title */
    font-weight: bold;
}
.org-geiser-font-lock-error-link {
    /* geiser-font-lock-error-link */
    color: #3a5fcd;
    text-decoration: underline;
}
.org-geiser-font-lock-image-button {
    /* geiser-font-lock-image-button */
    color: #5fafd7;
    text-decoration: underline;
}
.org-geiser-font-lock-repl-input {
    /* geiser-font-lock-repl-input */
    font-weight: bold;
}
.org-geiser-font-lock-repl-prompt {
    /* geiser-font-lock-repl-prompt */
    color: #5fafd7;
    background-color: #3a3a3a;
}
.org-geiser-font-lock-xref-header {
    /* geiser-font-lock-xref-header */
    font-weight: bold;
}
.org-geiser-font-lock-xref-link {
    /* geiser-font-lock-xref-link */
    color: #3a5fcd;
    text-decoration: underline;
}
.org-git-commit-comment-action {
    /* git-commit-comment-action */
    font-weight: bold;
}
.org-git-commit-comment-branch-local {
    /* git-commit-comment-branch-local */
    color: #ff8700;
}
.org-git-commit-comment-branch-remote {
    /* git-commit-comment-branch-remote */
    color: #ff8700;
}
.org-git-commit-comment-detached {
    /* git-commit-comment-detached */
    color: #ff8700;
}
.org-git-commit-comment-file {
    /* git-commit-comment-file */
    color: #ff1f8b;
}
.org-git-commit-comment-heading {
    /* git-commit-comment-heading */
    color: #00af00;
}
.org-git-commit-known-pseudo-header {
    /* git-commit-known-pseudo-header */
    color: #00af00;
}
.org-git-commit-nonempty-second-line {
    /* git-commit-nonempty-second-line */
    color: #cc0000;
    font-weight: bold;
}
.org-git-commit-note {
    /* git-commit-note */
    color: #ff1f8b;
}
.org-git-commit-overlong-summary {
    /* git-commit-overlong-summary */
    color: #cc0000;
    font-weight: bold;
}
.org-git-commit-pseudo-header {
    /* git-commit-pseudo-header */
    color: #ff1f8b;
}
.org-git-commit-summary {
    /* git-commit-summary */
    color: #18b2b2;
}
.org-glyphless-char {
    /* glyphless-char */
    font-size: 60%;
}
.org-header-line {
    /* header-line */
    color: #005f87;
    background-color: #afd7ff;
}
.org-header-line-highlight {
    /* header-line-highlight */
    background-color: #d7ff5f;
}
.org-help-argument-name {
    /* help-argument-name */
    color: #ff1f8b;
    font-style: italic;
}
.org-highlight {
    /* highlight */
    background-color: #d7ff5f;
}
.org-hl-line {
    /* hl-line */
    background-color: #d7ff87;
}
.org-holiday {
    /* holiday */
    background-color: #ffc0cb;
}
.org-homoglyph {
    /* homoglyph */
    color: #a52a2a;
}
.org-ido-first-match {
    /* ido-first-match */
    color: #ff8700;
    font-weight: bold;
}
.org-ido-incomplete-regexp {
    /* ido-incomplete-regexp */
    color: #cc0000;
    font-weight: bold;
}
.org-ido-indicator {
    /* ido-indicator */
    color: #875f00;
    background-color: #ffd787;
}
.org-ido-only-match {
    /* ido-only-match */
    color: #008700;
    background-color: #d7ff87;
    font-weight: bold;
}
.org-ido-subdir {
    /* ido-subdir */
    color: #5fafd7;
    font-weight: bold;
}
.org-ido-virtual {
    /* ido-virtual */
    color: #ff1f8b;
}
.org-info-header-node {
    /* info-header-node */
    color: #a40000;
    font-weight: bold;
}
.org-info-header-xref {
    /* info-header-xref */
    color: #5f5f5f;
}
.org-info-index-match {
    /* info-index-match */
    background-color: #ffff87;
}
.org-info-menu-header {
    /* info-menu-header */
    color: #626262;
    font-weight: bold;
    text-decoration: underline;
}
.org-info-menu-star {
    /* info-menu-star */
    color: #ef2929;
}
.org-info-node {
    /* info-node */
    color: #a40000;
}
.org-info-quoted {
}
.org-info-title-1 {
    /* info-title-1 */
    color: #5fafd7;
    font-weight: bold;
}
.org-info-title-2 {
    /* info-title-2 */
    color: #5fd700;
    font-weight: bold;
}
.org-info-title-3 {
    /* info-title-3 */
    color: #ff8700;
    font-weight: bold;
}
.org-info-title-4 {
    /* info-title-4 */
    color: #ff4ea3;
    font-weight: bold;
}
.org-info-xref {
    /* info-xref */
    color: #1f5bff;
    text-decoration: underline;
}
.org-info-xref-visited {
    /* info-xref-visited */
    color: #d18aff;
    text-decoration: underline;
}
.org-internal-border {
}
.org-isearch {
    /* isearch */
    color: #ffffff;
    background-color: #ff5d17;
}
.org-isearch-fail {
    /* isearch-fail */
    background-color: #ffc1c1;
}
.org-italic {
    /* italic */
    font-style: italic;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #00af00;
}
.org-lazy-highlight {
    /* lazy-highlight */
    color: #ffffff;
    background-color: #ff1f8b;
}
.org-line-number-current-line {
    /* line-number-current-line */
    color: #7f7f7f;
    background-color: #fdfde7;
}
.org-link {
    /* link */
    color: #5fafd7;
    text-decoration: underline;
}
.org-link-visited {
    /* link-visited */
    color: #1f5bff;
    text-decoration: underline;
}
.org-log-edit-header {
    /* log-edit-header */
    color: #00af00;
}
.org-log-edit-summary {
    /* log-edit-summary */
    color: #ef2929;
}
.org-log-edit-unknown-header {
    /* log-edit-unknown-header */
    color: #b2b2b2;
    font-style: italic;
}
.org-magit-bisect-bad {
    /* magit-bisect-bad */
    color: #a40000;
    background-color: #ffafaf;
}
.org-magit-bisect-good {
    /* magit-bisect-good */
    color: #008700;
    background-color: #d7ff5f;
}
.org-magit-bisect-skip {
    /* magit-bisect-skip */
    color: #875f00;
    background-color: #ffd787;
}
.org-magit-blame-date {
    /* magit-blame-date */
    color: #ff8700;
    background-color: #ffffaf;
}
.org-magit-blame-dimmed {
    /* magit-blame-dimmed */
    color: #c6c6c6;
}
.org-magit-blame-hash {
    /* magit-blame-hash */
    color: #ff8700;
    background-color: #ffffaf;
}
.org-magit-blame-heading {
    /* magit-blame-heading */
    color: #b2b2b2;
    background-color: #ffffaf;
}
.org-magit-blame-highlight {
    /* magit-blame-highlight */
    color: #000000;
    background-color: #cccccc;
}
.org-magit-blame-margin {
    /* magit-blame-margin */
    color: #000000;
    background-color: #cccccc;
}
.org-magit-blame-name {
    /* magit-blame-name */
    color: #00af00;
    background-color: #ffffaf;
}
.org-magit-blame-summary {
    /* magit-blame-summary */
    color: #8a8a8a;
    background-color: #ffffaf;
}
.org-magit-branch-current {
    /* magit-branch-current */
    color: #ffffff;
    background-color: #ff8700;
    font-weight: bold;
}
.org-magit-branch-local {
    /* magit-branch-local */
    color: #008700;
    background-color: #d7ff87;
    font-weight: bold;
    text-decoration: underline;
}
.org-magit-branch-remote {
    /* magit-branch-remote */
    color: #005f87;
    background-color: #afd7ff;
    font-weight: bold;
    text-decoration: underline;
}
.org-magit-branch-remote-head {
    /* magit-branch-remote-head */
    color: #005f87;
    background-color: #afd7ff;
    font-weight: bold;
    text-decoration: underline;
}
.org-magit-cherry-equivalent {
    /* magit-cherry-equivalent */
    color: #b218b2;
}
.org-magit-cherry-unmatched {
    /* magit-cherry-unmatched */
    color: #00ac8a;
}
.org-magit-diff-added {
    /* magit-diff-added */
    color: #00af00;
    font-weight: bold;
}
.org-magit-diff-base {
    /* magit-diff-base */
    color: #875f00;
}
.org-magit-diff-base-highlight {
    /* magit-diff-base-highlight */
    color: #875f00;
    background-color: #ffffaf;
}
.org-magit-diff-conflict-heading {
    /* magit-diff-conflict-heading */
    color: #ffffff;
    background-color: #ff8700;
}
.org-magit-diff-context {
    /* magit-diff-context */
    color: #b2b2b2;
}
.org-magit-diff-file-heading {
    /* magit-diff-file-heading */
    color: #626262;
    font-weight: bold;
}
.org-magit-diff-file-heading-highlight {
    /* magit-diff-file-heading-highlight */
    background-color: #d7ff87;
    font-weight: bold;
}
.org-magit-diff-file-heading-selection {
    /* magit-diff-file-heading-selection */
    color: #ffffff;
    background-color: #626262;
    font-weight: bold;
}
.org-magit-diff-hunk-heading {
    /* magit-diff-hunk-heading */
    color: #b2b2b2;
    background-color: #eeeeee;
    font-weight: bold;
}
.org-magit-diff-hunk-heading-highlight {
    /* magit-diff-hunk-heading-highlight */
    color: #ffffff;
    background-color: #9e9e9e;
}
.org-magit-diff-hunk-heading-selection {
    /* magit-diff-hunk-heading-selection */
    color: #eeeeee;
    background-color: #626262;
}
.org-magit-diff-hunk-region {
    /* magit-diff-hunk-region */
    font-weight: bold;
}
.org-magit-diff-lines-boundary {
    /* magit-diff-lines-boundary */
    color: #5f5f5f;
    background-color: #ff4b4b;
}
.org-magit-diff-lines-heading {
    /* magit-diff-lines-heading */
    color: #5f5f5f;
    background-color: #ff4b4b;
}
.org-magit-diff-our {
    /* magit-diff-our */
    color: #ff1f8b;
}
.org-magit-diff-our-highlight {
    /* magit-diff-our-highlight */
    color: #ff1f8b;
    background-color: #ffd7ff;
}
.org-magit-diff-removed {
    /* magit-diff-removed */
    color: #cc0000;
    font-weight: bold;
}
.org-magit-diff-their {
    /* magit-diff-their */
    color: #00ac8a;
}
.org-magit-diff-their-highlight {
    /* magit-diff-their-highlight */
    color: #005f5f;
    background-color: #87ffff;
}
.org-magit-diff-whitespace-warning {
    /* magit-diff-whitespace-warning */
    color: #a40000;
    background-color: #a40000;
}
.org-magit-diffstat-added {
    /* magit-diffstat-added */
    color: #00af00;
    background-color: #d7ff5f;
    font-weight: bold;
}
.org-magit-diffstat-removed {
    /* magit-diffstat-removed */
    color: #a40000;
    background-color: #ff4b4b;
    font-weight: bold;
}
.org-magit-dimmed {
    /* magit-dimmed */
    color: #c6c6c6;
}
.org-magit-filename {
    /* magit-filename */
    color: #005f87;
}
.org-magit-hash {
    /* magit-hash */
    color: #ff8700;
}
.org-magit-head {
    /* magit-head */
    color: #d75f00;
    background-color: #ffd7af;
}
.org-magit-header-line {
    /* magit-header-line */
    color: #ff8700;
}
.org-magit-header-line-key {
    /* magit-header-line-key */
    color: #b218b2;
}
.org-magit-header-line-log-select {
    /* magit-header-line-log-select */
    font-weight: bold;
}
.org-magit-keyword {
    /* magit-keyword */
    color: #ff1f8b;
}
.org-magit-log-author {
    /* magit-log-author */
    color: #00af00;
    background-color: #fdfde7;
}
.org-magit-log-date {
    /* magit-log-date */
    color: #9e9e9e;
    background-color: #fdfde7;
}
.org-magit-log-graph {
    /* magit-log-graph */
    color: #8a8a8a;
    background-color: #fdfde7;
}
.org-magit-mode-line-process {
    /* magit-mode-line-process */
    font-weight: bold;
}
.org-magit-mode-line-process-error {
    /* magit-mode-line-process-error */
    color: #ff4b4b;
}
.org-magit-popup-argument {
    /* magit-popup-argument */
    color: #cc0000;
    font-weight: bold;
}
.org-magit-popup-disabled-argument {
    /* magit-popup-disabled-argument */
    color: #7f7f7f;
}
.org-magit-popup-heading {
    /* magit-popup-heading */
    color: #00af00;
}
.org-magit-popup-key {
    /* magit-popup-key */
    color: #b218b2;
}
.org-magit-popup-option-value {
    /* magit-popup-option-value */
    color: #ff1f8b;
}
.org-magit-process-ng {
    /* magit-process-ng */
    color: #a40000;
    background-color: #ffafaf;
    text-decoration: underline;
}
.org-magit-process-ok {
    /* magit-process-ok */
    color: #00af00;
    background-color: #d7ff87;
    text-decoration: underline;
}
.org-magit-reflog-amend {
    /* magit-reflog-amend */
    color: #ff1f8b;
    background-color: #ffd7ff;
}
.org-magit-reflog-checkout {
    /* magit-reflog-checkout */
    color: #00af00;
    background-color: #d7ff87;
}
.org-magit-reflog-cherry-pick {
    /* magit-reflog-cherry-pick */
    color: #d75f00;
    background-color: #ffd787;
}
.org-magit-reflog-commit {
    /* magit-reflog-commit */
    color: #875f00;
    background-color: #ffff87;
}
.org-magit-reflog-merge {
    /* magit-reflog-merge */
    color: #6c0099;
    background-color: #e6a8df;
}
.org-magit-reflog-other {
    /* magit-reflog-other */
    color: #ffffff;
    background-color: #767676;
}
.org-magit-reflog-rebase {
    /* magit-reflog-rebase */
    color: #005f5f;
    background-color: #87d7af;
}
.org-magit-reflog-remote {
    /* magit-reflog-remote */
    color: #005faf;
    background-color: #afd7ff;
}
.org-magit-reflog-reset {
    /* magit-reflog-reset */
    color: #a40000;
    background-color: #ffafaf;
}
.org-magit-refname {
    /* magit-refname */
    color: #4d4d4d;
}
.org-magit-refname-stash {
    /* magit-refname-stash */
    color: #4d4d4d;
}
.org-magit-refname-wip {
    /* magit-refname-wip */
    color: #4d4d4d;
}
.org-magit-section-heading {
    /* magit-section-heading */
    color: #ff5d17;
    font-weight: bold;
    text-decoration: underline;
}
.org-magit-section-heading-selection {
    /* magit-section-heading-selection */
    background-color: #afd7ff;
}
.org-magit-section-highlight {
    /* magit-section-highlight */
    background-color: #ffd700;
}
.org-magit-section-secondary-heading {
    /* magit-section-secondary-heading */
    font-weight: bold;
}
.org-magit-sequence-done {
    /* magit-sequence-done */
    color: #00af00;
}
.org-magit-sequence-drop {
    /* magit-sequence-drop */
    color: #ff8700;
}
.org-magit-sequence-exec {
    /* magit-sequence-exec */
    color: #ff8700;
}
.org-magit-sequence-head {
    /* magit-sequence-head */
    color: #1f5bff;
}
.org-magit-sequence-onto {
    /* magit-sequence-onto */
    color: #b218b2;
}
.org-magit-sequence-part {
    /* magit-sequence-part */
    color: #00ac8a;
}
.org-magit-sequence-pick {
    /* magit-sequence-pick */
    color: #ff4ea3;
}
.org-magit-sequence-stop {
    /* magit-sequence-stop */
    color: #a40000;
}
.org-magit-signature-bad {
    /* magit-signature-bad */
    color: #cc0000;
}
.org-magit-signature-error {
    /* magit-signature-error */
    color: #cd2626;
}
.org-magit-signature-expired {
    /* magit-signature-expired */
    color: #ffa500;
}
.org-magit-signature-expired-key {
    /* magit-signature-expired-key */
    color: #ffa500;
}
.org-magit-signature-good {
    /* magit-signature-good */
    color: #00af00;
}
.org-magit-signature-revoked {
    /* magit-signature-revoked */
    color: #d02090;
}
.org-magit-signature-untrusted {
    /* magit-signature-untrusted */
    color: #c4a000;
}
.org-magit-tag {
    /* magit-tag */
    color: #005f87;
    background-color: #afd7ff;
}
.org-mastodon-boost-fave {
    /* mastodon-boost-fave-face */
    color: #a1db00;
}
.org-mastodon-boosted {
    /* mastodon-boosted-face */
    background-color: #d7ff5f;
    font-weight: bold;
}
.org-mastodon-cw {
    /* mastodon-cw-face */
    color: #a1db00;
}
.org-mastodon-display-name {
    /* mastodon-display-name-face */
    color: #ff8700;
    font-weight: bold;
}
.org-mastodon-handle {
    /* mastodon-handle-face */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-match {
    /* match */
    background-color: #ffff00;
}
.org-menu {
    /* menu */
    color: #d7d7af;
    background-color: #87875f;
}
.org-message-cited-text {
    /* message-cited-text */
    color: #a1db00;
}
.org-message-header-cc {
    /* message-header-cc */
    color: #5fafd7;
}
.org-message-header-name {
    /* message-header-name */
    color: #8a8a8a;
}
.org-message-header-newsgroups {
    /* message-header-newsgroups */
    color: #005f87;
    font-weight: bold;
}
.org-message-header-other {
    /* message-header-other */
    color: #ff4ea3;
}
.org-message-header-subject {
    /* message-header-subject */
    color: #5f5f5f;
    font-weight: bold;
}
.org-message-header-to {
    /* message-header-to */
    color: #1f5bff;
    font-weight: bold;
    text-decoration: underline;
}
.org-message-header-xheader {
    /* message-header-xheader */
    color: #b2b2b2;
}
.org-message-mml {
    /* message-mml */
    color: #ff8700;
}
.org-message-separator {
    /* message-separator */
    color: #c6c6c6;
}
.org-minibuffer-prompt {
    /* minibuffer-prompt */
    color: #5fafd7;
    background-color: #3a3a3a;
}
.org-mm-command-output {
    /* mm-command-output */
    color: #cd0000;
}
.org-mode-line {
    /* mode-line */
    color: #ffffff;
    background-color: #5fafd7;
}
.org-mode-line-buffer-id {
    /* mode-line-buffer-id */
    color: #1c1c1c;
    font-weight: bold;
}
.org-mode-line-buffer-id-inactive {
    /* mode-line-buffer-id-inactive */
    color: #1c1c1c;
    font-weight: bold;
}
.org-mode-line-emphasis {
    /* mode-line-emphasis */
    font-weight: bold;
}
.org-mode-line-highlight {
}
.org-mode-line-inactive {
    /* mode-line-inactive */
    color: #ffffff;
    background-color: #b2b2b2;
}
.org-mouse {
}
.org-mouse-drag-and-drop-region {
    /* mouse-drag-and-drop-region */
    color: #ffffff;
    background-color: #5fafd7;
}
.org-mu4e-attach-number {
    /* mu4e-attach-number-face */
    color: #ff8700;
    font-weight: bold;
}
.org-mu4e-cited-1 {
    /* mu4e-cited-1-face */
    color: #b218b2;
    font-style: italic;
}
.org-mu4e-cited-2 {
    /* mu4e-cited-2-face */
    color: #b218b2;
    font-style: italic;
}
.org-mu4e-cited-3 {
    /* mu4e-cited-3-face */
    color: #ff8700;
    font-style: italic;
}
.org-mu4e-cited-4 {
    /* mu4e-cited-4-face */
    color: #00af00;
    font-style: italic;
}
.org-mu4e-cited-5 {
    /* mu4e-cited-5-face */
    color: #b2b2b2;
    font-style: italic;
}
.org-mu4e-cited-6 {
    /* mu4e-cited-6-face */
    color: #b2b2b2;
    font-style: italic;
}
.org-mu4e-cited-7 {
    /* mu4e-cited-7-face */
    color: #18b2b2;
    font-style: italic;
}
.org-mu4e-compose-header {
    /* mu4e-compose-header-face */
    color: #c6c6c6;
    font-style: italic;
}
.org-mu4e-compose-separator {
    /* mu4e-compose-separator-face */
    color: #c6c6c6;
    font-style: italic;
}
.org-mu4e-contact {
    /* mu4e-contact-face */
    color: #ff8700;
}
.org-mu4e-context {
    /* mu4e-context-face */
    color: #18b2b2;
    font-weight: bold;
}
.org-mu4e-draft {
    /* mu4e-draft-face */
    color: #ff1f8b;
}
.org-mu4e-flagged {
    /* mu4e-flagged-face */
    color: #1f5bff;
    font-weight: bold;
}
.org-mu4e-footer {
    /* mu4e-footer-face */
    color: #b2b2b2;
    font-style: italic;
}
.org-mu4e-forwarded {
    /* mu4e-forwarded-face */
    color: #b218b2;
}
.org-mu4e-header {
    /* mu4e-header-face */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-mu4e-header-highlight {
    /* mu4e-header-highlight-face */
    color: #ffffff;
    background-color: #5fafd7;
    font-weight: bold;
    text-decoration: underline;
}
.org-mu4e-header-key {
    /* mu4e-header-key-face */
    color: #8a8a8a;
    font-weight: bold;
}
.org-mu4e-header-marks {
    /* mu4e-header-marks-face */
    color: #b218b2;
}
.org-mu4e-header-title {
    /* mu4e-header-title-face */
    color: #18b2b2;
}
.org-mu4e-header-value {
    /* mu4e-header-value-face */
    color: #18b2b2;
}
.org-mu4e-highlight {
    /* mu4e-highlight-face */
    background-color: #d7ff5f;
}
.org-mu4e-link {
    /* mu4e-link-face */
    color: #5fafd7;
    text-decoration: underline;
}
.org-mu4e-modeline {
    /* mu4e-modeline-face */
    color: #ff1f8b;
    font-weight: bold;
}
.org-mu4e-moved {
    /* mu4e-moved-face */
    color: #b2b2b2;
    font-style: italic;
}
.org-mu4e-ok {
    /* mu4e-ok-face */
    color: #b2b2b2;
    font-weight: bold;
}
.org-mu4e-region-code {
    /* mu4e-region-code */
    background-color: #2f4f4f;
}
.org-mu4e-replied {
    /* mu4e-replied-face */
    color: #b218b2;
}
.org-mu4e-special-header-value {
    /* mu4e-special-header-value-face */
    color: #b218b2;
}
.org-mu4e-system {
    /* mu4e-system-face */
    color: #b2b2b2;
    font-style: italic;
}
.org-mu4e-title {
    /* mu4e-title-face */
    color: #18b2b2;
    font-weight: bold;
}
.org-mu4e-trashed {
    /* mu4e-trashed-face */
    color: #b2b2b2;
    font-style: italic;
    text-decoration: line-through;
}
.org-mu4e-unread {
    /* mu4e-unread-face */
    color: #00af00;
    font-weight: bold;
}
.org-mu4e-url-number {
    /* mu4e-url-number-face */
    color: #1f5bff;
    font-weight: bold;
}
.org-mu4e-view-body {
    /* mu4e-view-body-face */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-mu4e-warning {
    /* mu4e-warning-face */
    color: #cc0000;
    font-weight: bold;
}
.org-negation-char {
    /* font-lock-negation-char-face */
    color: #cc0000;
}
.org-next-error {
    /* next-error */
    color: #ffffff;
    background-color: #5fafd7;
}
.org-nobreak-hyphen {
    /* nobreak-hyphen */
    color: #a52a2a;
}
.org-nobreak-space {
    /* nobreak-space */
    color: #c4a000;
    text-decoration: underline;
}
.org-org-agenda-calendar-event {
    /* org-agenda-calendar-event */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-org-agenda-calendar-sexp {
    /* org-agenda-calendar-sexp */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-org-agenda-clocking {
    /* org-agenda-clocking */
    color: #005f87;
    background-color: #afd7ff;
    font-weight: bold;
}
.org-org-agenda-column-dateline {
    /* org-agenda-column-dateline */
    color: #ffffff;
    background-color: #ffff87;
    text-decoration: underline;
}
.org-org-agenda-current-time {
    /* org-agenda-current-time */
    color: #b2b2b2;
}
.org-org-agenda-date {
    /* org-agenda-date */
    color: #1f5bff;
}
.org-org-agenda-date-today {
    /* org-agenda-date-today */
    color: #1f5bff;
    background-color: #d4e5ff;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-agenda-date-weekend {
    /* org-agenda-date-weekend */
    color: #b218b2;
    font-style: italic;
}
.org-org-agenda-diary {
    /* org-agenda-diary */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-org-agenda-dimmed-todo {
    /* org-agenda-dimmed-todo-face */
    color: #ffffff;
    background-color: #cc0000;
}
.org-org-agenda-done {
    /* org-agenda-done */
    color: #00af00;
}
.org-org-agenda-filter-category {
    /* org-agenda-filter-category */
    color: #ffffff;
    background-color: #5fafd7;
}
.org-org-agenda-filter-effort {
    /* org-agenda-filter-effort */
    color: #ffffff;
    background-color: #5fafd7;
}
.org-org-agenda-filter-regexp {
    /* org-agenda-filter-regexp */
    color: #ffffff;
    background-color: #5fafd7;
}
.org-org-agenda-filter-tags {
    /* org-agenda-filter-tags */
    color: #ffffff;
    background-color: #5fafd7;
}
.org-org-agenda-restriction-lock {
    /* org-agenda-restriction-lock */
    background-color: #eeeeee;
}
.org-org-agenda-structure {
    /* org-agenda-structure */
    color: #00ac8a;
}
.org-org-archived {
    /* org-archived */
    font-style: italic;
}
.org-org-beamer-tag {
}
.org-org-block {
    /* org-block */
    color: #005f87;
    background-color: #d7d7ff;
}
.org-org-block-begin-line {
    /* org-block-begin-line */
    color: #005f87;
    background-color: #afd7ff;
}
.org-org-block-end-line {
    /* org-block-end-line */
    color: #dadada;
    background-color: #eeeeee;
}
.org-org-checkbox {
    /* org-checkbox */
    color: #767676;
    background-color: #dadada;
}
.org-org-checkbox-statistics-done {
    /* org-checkbox-statistics-done */
    color: #008700;
    background-color: #d7ff87;
    font-weight: bold;
}
.org-org-checkbox-statistics-todo {
    /* org-checkbox-statistics-todo */
    color: #a40000;
    background-color: #ffaf87;
    font-weight: bold;
}
.org-org-clock-overlay {
    /* org-clock-overlay */
    color: #000000;
    background-color: #d3d3d3;
}
.org-org-code {
    /* org-code */
    color: #1f5bff;
    background-color: #eeeeee;
}
.org-org-column {
    /* org-column */
    color: #767676;
    background-color: #ffffaf;
}
.org-org-column-title {
    /* org-column-title */
    color: #5f5f5f;
    background-color: #afd7ff;
    font-weight: bold;
    text-decoration: underline;
}
.org-org-date {
    /* org-date */
    color: #1f5bff;
    text-decoration: underline;
}
.org-org-date-selected {
    /* org-date-selected */
    color: #ff0000;
}
.org-org-default {
    /* org-default */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-org-document-info {
    /* org-document-info */
    color: #5fafd7;
    background-color: #fdfde7;
    font-weight: bold;
}
.org-org-document-info-keyword {
    /* org-document-info-keyword */
    color: #d75f00;
    background-color: #ffffaf;
}
.org-org-document-title {
    /* org-document-title */
    color: #005f87;
    background-color: #fdfde7;
    font-weight: bold;
}
.org-org-done {
    /* org-done */
    color: #008700;
    background-color: #d7ff87;
    font-weight: bold;
}
.org-org-drawer {
    /* org-drawer */
    color: #0000ff;
}
.org-org-ellipsis {
    /* org-ellipsis */
    color: #cc0000;
}
.org-org-footnote {
    /* org-footnote */
    color: #ff1f8b;
}
.org-org-formula {
    /* org-formula */
    color: #b218b2;
}
.org-org-headline-done {
    /* org-headline-done */
    color: #a1db00;
}
.org-org-hide {
    /* org-hide */
    color: #fdfde7;
}
.org-org-latex-and-related {
    /* org-latex-and-related */
    color: #8b4513;
}
.org-org-level-1 {
    /* org-level-1 */
    color: #5fafd7;
    font-weight: bold;
}
.org-org-level-2 {
    /* org-level-2 */
    color: #5fd700;
    font-weight: bold;
}
.org-org-level-3 {
    /* org-level-3 */
    color: #ff8700;
    font-weight: bold;
}
.org-org-level-4 {
    /* org-level-4 */
    color: #00d7af;
    font-weight: bold;
}
.org-org-level-5 {
    /* org-level-5 */
    color: #cc0000;
    font-weight: bold;
}
.org-org-level-6 {
    /* org-level-6 */
    color: #b218b2;
    font-weight: bold;
}
.org-org-level-7 {
    /* org-level-7 */
    color: #ff4ea3;
    font-weight: bold;
}
.org-org-level-8 {
    /* org-level-8 */
    color: #ffd700;
    font-weight: bold;
}
.org-org-link {
    /* org-link */
    color: #1f5bff;
    text-decoration: underline;
}
.org-org-list-dt {
    /* org-list-dt */
    font-weight: bold;
}
.org-org-macro {
    /* org-macro */
    color: #8b4513;
}
.org-org-meta-line {
    /* org-meta-line */
    color: #b2b2b2;
    font-style: italic;
}
.org-org-mode-line-clock {
    /* org-mode-line-clock */
    color: #005f87;
    background-color: #afd7ff;
    font-weight: bold;
}
.org-org-mode-line-clock-overrun {
    /* org-mode-line-clock-overrun */
    color: #ffffff;
    background-color: #ef2929;
    font-weight: bold;
}
.org-org-priority {
    /* org-priority */
    color: #a40000;
}
.org-org-property-value {
}
.org-org-quote {
    /* org-quote */
    color: #005f87;
    background-color: #d7d7ff;
}
.org-org-scheduled {
    /* org-scheduled */
    color: #8a8a8a;
}
.org-org-scheduled-previously {
    /* org-scheduled-previously */
    color: #ef2929;
}
.org-org-scheduled-today {
    /* org-scheduled-today */
    color: #1f5bff;
}
.org-org-sexp-date {
    /* org-sexp-date */
    color: #a020f0;
}
.org-org-special-keyword {
    /* org-special-keyword */
    color: #875f00;
    background-color: #fce94f;
}
.org-org-table {
    /* org-table */
    color: #767676;
    background-color: #ffff87;
}
.org-org-tag {
    /* org-tag */
    color: #ffffff;
    background-color: #9e9e9e;
    font-weight: bold;
}
.org-org-tag-group {
    /* org-tag-group */
    color: #ffffff;
    background-color: #9e9e9e;
    font-weight: bold;
}
.org-org-target {
    /* org-target */
    text-decoration: underline;
}
.org-org-time-grid {
    /* org-time-grid */
    color: #b2b2b2;
}
.org-org-todo {
    /* org-todo */
    color: #a40000;
    background-color: #ffaf87;
    font-weight: bold;
}
.org-org-upcoming-deadline {
    /* org-upcoming-deadline */
    color: #a40000;
}
.org-org-verbatim {
    /* org-verbatim */
    color: #005f87;
    background-color: #d7d7ff;
}
.org-org-verse {
    /* org-verse */
    color: #005f87;
    background-color: #d7d7ff;
}
.org-org-warning {
    /* org-warning */
    color: #ffffff;
    background-color: #a40000;
    font-weight: bold;
}
.org-outline-1 {
    /* outline-1 */
    color: #5fafd7;
    font-weight: bold;
}
.org-outline-2 {
    /* outline-2 */
    color: #5fd700;
    font-weight: bold;
}
.org-outline-3 {
    /* outline-3 */
    color: #ff8700;
    font-weight: bold;
}
.org-outline-4 {
    /* outline-4 */
    color: #00d7af;
    font-weight: bold;
}
.org-outline-5 {
    /* outline-5 */
    color: #cc0000;
    font-weight: bold;
}
.org-outline-6 {
    /* outline-6 */
    color: #b218b2;
    font-weight: bold;
}
.org-outline-7 {
    /* outline-7 */
    color: #ff4ea3;
    font-weight: bold;
}
.org-outline-8 {
    /* outline-8 */
    color: #ffd700;
    font-weight: bold;
}
.org-package-description {
    /* package-description */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-package-name {
    /* package-name */
    color: #5fafd7;
    text-decoration: underline;
}
.org-package-status-avail-obso {
    /* package-status-avail-obso */
    color: #ff4b4b;
}
.org-package-status-available {
    /* package-status-available */
    color: #5f5f5f;
    background-color: #fdfde7;
}
.org-package-status-built-in {
    /* package-status-built-in */
    color: #b218b2;
}
.org-package-status-dependency {
    /* package-status-dependency */
    color: #b2b2b2;
    font-style: italic;
}
.org-package-status-disabled {
    /* package-status-disabled */
    color: #cc0000;
    font-weight: bold;
}
.org-package-status-external {
    /* package-status-external */
    color: #b218b2;
}
.org-package-status-held {
    /* package-status-held */
    color: #1f5bff;
}
.org-package-status-incompat {
    /* package-status-incompat */
    color: #ff4b4b;
}
.org-package-status-installed {
    /* package-status-installed */
    color: #b2b2b2;
    font-style: italic;
}
.org-package-status-unsigned {
    /* package-status-unsigned */
    color: #cc0000;
    font-weight: bold;
}
.org-powerline-active1 {
    /* powerline-active1 */
    color: #005faf;
    background-color: #afd7ff;
}
.org-powerline-active2 {
    /* powerline-active2 */
    color: #ffffff;
    background-color: #585858;
}
.org-powerline-inactive1 {
    /* powerline-inactive1 */
    color: #585858;
    background-color: #c6c6c6;
}
.org-powerline-inactive2 {
    /* powerline-inactive2 */
    color: #585858;
    background-color: #e4e4e4;
}
.org-preprocessor {
    /* font-lock-preprocessor-face */
    color: #b218b2;
}
.org-query-replace {
    /* query-replace */
    color: #ffffff;
    background-color: #ff5d17;
}
.org-rainbow-delimiters-depth-1 {
    /* rainbow-delimiters-depth-1-face */
    color: #000000;
    font-weight: bold;
}
.org-rainbow-delimiters-depth-2 {
    /* rainbow-delimiters-depth-2-face */
    color: #ff0000;
    font-weight: bold;
}
.org-rainbow-delimiters-depth-3 {
    /* rainbow-delimiters-depth-3-face */
    color: #6b8e23;
    font-weight: bold;
}
.org-rainbow-delimiters-depth-4 {
    /* rainbow-delimiters-depth-4-face */
    color: #9400d3;
    font-weight: bold;
}
.org-rainbow-delimiters-depth-5 {
    /* rainbow-delimiters-depth-5-face */
    color: #0000cd;
    font-weight: bold;
}
.org-rainbow-delimiters-depth-6 {
    /* rainbow-delimiters-depth-6-face */
    color: #ff6347;
    font-weight: bold;
}
.org-rainbow-delimiters-depth-7 {
    /* rainbow-delimiters-depth-7-face */
    color: #2e8b57;
    font-weight: bold;
}
.org-rainbow-delimiters-depth-8 {
    /* rainbow-delimiters-depth-8-face */
    color: #c4a000;
    font-weight: bold;
}
.org-rainbow-delimiters-depth-9 {
    /* rainbow-delimiters-depth-9-face */
    color: #5f5f5f;
    font-weight: bold;
}
.org-rainbow-delimiters-mismatched {
    /* rainbow-delimiters-mismatched-face */
    color: #ffffff;
    background-color: #a40000;
    font-weight: bold;
}
.org-rainbow-delimiters-unmatched {
    /* rainbow-delimiters-unmatched-face */
    color: #ffffff;
    background-color: #a40000;
    font-weight: bold;
}
.org-read-multiple-choice {
    /* read-multiple-choice-face */
    font-weight: bold;
    text-decoration: underline;
}
.org-regexp-grouping-backslash {
    /* font-lock-regexp-grouping-backslash */
    color: #ff8700;
}
.org-regexp-grouping-construct {
    /* font-lock-regexp-grouping-construct */
    color: #b218b2;
}
.org-region {
    /* region */
    color: #ffffff;
    background-color: #5fafd7;
}
.org-rmail-header-name {
    /* rmail-header-name */
    color: #ef2929;
}
.org-rmail-highlight {
    /* rmail-highlight */
    background-color: #d7ff5f;
}
.org-scroll-bar {
}
.org-secondary-selection {
    /* secondary-selection */
    color: #ffffff;
    background-color: #005f87;
}
.org-shadow {
    /* shadow */
    color: #7f7f7f;
}
.org-show-paren-match {
    /* show-paren-match */
    background-color: #d7d7ff;
}
.org-show-paren-match-expression {
    /* show-paren-match-expression */
    background-color: #d7d7ff;
}
.org-show-paren-mismatch {
    /* show-paren-mismatch */
    color: #ffffff;
    background-color: #a020f0;
}
.org-smerge-base {
    /* smerge-base */
    background-color: #ffffaa;
}
.org-smerge-lower {
    /* smerge-lower */
    background-color: #ddffdd;
}
.org-smerge-markers {
    /* smerge-markers */
    background-color: #d9d9d9;
}
.org-smerge-refined-added {
    /* smerge-refined-added */
    color: #ffffff;
    background-color: #aaffaa;
}
.org-smerge-refined-changed {
    /* smerge-refined-changed */
    color: #ffffff;
    background-color: #005f87;
}
.org-smerge-refined-removed {
    /* smerge-refined-removed */
    color: #ffffff;
    background-color: #ffbbbb;
}
.org-smerge-upper {
    /* smerge-upper */
    background-color: #ffdddd;
}
.org-speedbar-button {
    /* speedbar-button-face */
    color: #008b00;
}
.org-speedbar-directory {
    /* speedbar-directory-face */
    color: #00008b;
}
.org-speedbar-file {
    /* speedbar-file-face */
    color: #008b8b;
}
.org-speedbar-highlight {
    /* speedbar-highlight-face */
    background-color: #00ff00;
}
.org-speedbar-selected {
    /* speedbar-selected-face */
    color: #ff0000;
    text-decoration: underline;
}
.org-speedbar-separator {
    /* speedbar-separator-face */
    color: #ffffff;
    background-color: #0000ff;
    text-decoration: overline;
}
.org-speedbar-tag {
    /* speedbar-tag-face */
    color: #a52a2a;
}
.org-string {
    /* font-lock-string-face */
    color: #ff1f8b;
}
.org-success {
    /* success */
    color: #a1db00;
}
.org-table-cell {
    /* table-cell */
    color: #e5e5e5;
    background-color: #0000ff;
}
.org-tool-bar {
    /* tool-bar */
    color: #000000;
    background-color: #bfbfbf;
}
.org-tooltip {
    /* tooltip */
    color: #000000;
    background-color: #ffffe0;
}
.org-trailing-whitespace {
    /* trailing-whitespace */
    background-color: #a40000;
}
.org-tty-menu-disabled {
    /* tty-menu-disabled-face */
    color: #9e9e9e;
    background-color: #767676;
}
.org-tty-menu-enabled {
    /* tty-menu-enabled-face */
    color: #ffffff;
    background-color: #767676;
    font-weight: bold;
}
.org-tty-menu-selected {
    /* tty-menu-selected-face */
    background-color: #005f87;
}
.org-type {
    /* font-lock-type-face */
    color: #18b2b2;
}
.org-underline {
    /* underline */
    text-decoration: underline;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #ff8700;
}
.org-variable-pitch {
}
.org-vc-conflict-state {
}
.org-vc-edited-state {
}
.org-vc-locally-added-state {
}
.org-vc-locked-state {
}
.org-vc-missing-state {
}
.org-vc-needs-update-state {
}
.org-vc-removed-state {
}
.org-vc-state-base {
}
.org-vc-up-to-date-state {
}
.org-vertical-border {
    /* vertical-border */
    color: #d7d7af;
    background-color: #d7d7af;
}
.org-warning {
    /* warning */
    color: #ff8700;
    font-weight: bold;
}
.org-warning-1 {
    /* font-lock-warning-face */
    color: #cc0000;
    font-weight: bold;
}
.org-window-divider {
    /* window-divider */
    color: #999999;
}
.org-window-divider-first-pixel {
    /* window-divider-first-pixel */
    color: #cccccc;
}
.org-window-divider-last-pixel {
    /* window-divider-last-pixel */
    color: #666666;
}

a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
}
a:hover {
    text-decoration: underline;
}
